:global {
  .o365cs-nav-brandingText {
    display: none !important;
  }

  div[class*="sideActionsWrapper"] {
    display: none !important;
  }

  img[class*="logoImg"] {
    min-height: 108px !important;
    max-height: 108px !important;
  }

  div[class*="mainRow"] {
    height: 116px !important;
  }

  .o365cs-nav-o365Branding {
    border-left: none !important;
  }

  div[class^="titleAndNavWrapper"],
  div[class^="logoCell"] {
    display: none !important;
  }
}
