@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.customLinks {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
  justify-content: space-between;

  div {
    padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: $ms-color-themePrimary;
    flex: 1;
  }

  span {
    height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
